<template name="admin">
  <div id="admin">
    <a href="/" class="back-desktop"><span class="icon-arrow-left-alt"></span> Back</a>
    <div class="wrapper-admin">
      {{#if isAdmin}}
        <h1 class="title-admin">Admin</h1>
        {{> chart}}
      {{else}}
        <h1 class="title-admin">Forbidden</h1>

      {{/if}}
    </div>
  </div>
</template>

<template name="chart">
  <div class="col-md-3">
    <h4>Select to display the most popular dishes among
    <SELECT id="list">
      <OPTION VALUE="all">All Dishes</option>
      <OPTION VALUE="shared">Shared Dishes</option>
    </SELECT>*</h4>
    <h4><small>*{{remarks}}</small></h4>
  </div>
  <div class="col-md-8" id="chartplace">{{createChart}}</div>
</template>
