<template name="bill">
  <div class="page bookmarks">
    {{> nav title='Bill'}}
    <div class="content-scrollable">
      <div class="list-recipes"></div>
        {{#with recipe}}
          <img class="order-image" src="/img/recipes/320x350/{{recipeName}}.jpg"/>
          <div class='cartDetail'>
            <div class="order-name">{{dishName}}</div>
            <div class="order-price">${{price}}</div>
            <br>
            <div class="message" id="addsub" style="text-align:left">
              {{viewUsers shared_customer}}
            </div>
          </div>
        {{/with}}
    </div>
    <div class="btns-group cart-confirm">
      <a class="btn-primary js-cancel" href="{{pathFor 'feed'}}" onclick="history.go(-1)">Back</a>
      <a class="btn-primary js-save">Pay</a> 
    </div>
  </div>
</template>

<template name='payBill'>
  <div class="clearfix float-my-children order-detail">
    {{#with recipe}}
      <img class="order-image" src="/img/recipes/320x350/{{recipeName}}.jpg"/>
    <div class='cartDetail'>
      <div class="order-name">{{dishName}}</div>
      <div class="order-price">${{price}}</div>
      <br>
      <div class="message" id="addsub" style="text-align:left">
        {{viewUsers shared_customer}}
      </div>
    </div>
    {{/with}}
  </div>
  <br>
</template>
