<template name="payment">
  <div class="page bookmarks">
    {{> nav title='Payment'}}

    <div class="content-scrollable">
      <div class="list-recipes">
      <div style="font-family: lora;font-size:17px;font-weight:600;text-align: center;padding-bottom: 1em;">Current Credits: ${{getCredits}}</div>
      {{#each this}}
        {{> dishCount_payment recipe=this size='small'}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">No bill yet</div>
          <div class="subtitle-message">Add your favorite dishes to the cart. <a href="{{pathFor 'home'}}">Return home</a></div>
        </div>
      {{/each}}
      </div>
      {{#if checkPaymentStatus}}
        <div style="font-family: lora;font-size:20px;font-weight:600;text-align: center;padding-bottom: 1em;">Current Credits: ${{getCredits}}</div>
        <div class="btns-group cart-confirm">
          <a class="btn-primary confirm" href="{{pathFor 'recipes'}}">Back to Home</a>
        </div>
      {{else}}
        <div style="font-family: lora;font-size:20px;font-weight:600;text-align: center">Total amount: ${{getTotalAmt}}</div>
        <div class="btns-group cart-confirm">
          <a class="btn-primary confirm">Confirm Payment</a>
        </div>

      {{/if}}
    </div>

  </div>
</template>

<template name='dishCount_payment'>
  <div class="clearfix float-my-children">
    <img style="display:block;width:160px;height:130px" src="{{recipeImage recipe=recipe size=size}}"/>
    {{#with recipe}}
    <div class='cartDetail'>
      <div style="font-size:17px;font-weight:600">{{dish_name}}</div>
      <div style="color:#D83E14;font-size:17px">${{price}}</div>
      <br>

      <div id="addsub" style="text-align:right">
        Share with:
<!--         <button class="minus qtyChange">-</button>
 -->        <span>{{num_share}} others</span>
<!--         <button class="plus qtyChange">+</button>
 -->      </div>
      <div class='delete' style="float:right">You pay: ${{amt_paid}}</div>
    </div>
    {{/with}}
  </div>
  <br>
</template>



