<template name="recipe">

  <div class="page recipe {{activeTabClass}}">
    {{#nav title='Dish' black=true back=true}}
      <!-- {{#if bookmarked}}
        <a href="#" class="nav-item js-remove-bookmark bookmarked"><span class="icon-bookmark"></span></a>
      {{else}}
        <a href="#" class="nav-item js-add-bookmark"><span class="icon-bookmark-hollow"></span></a>
      {{/if}}
      <a href="#" class="nav-item js-share"><span class="icon-camera"></span></a> -->
    {{/nav}}

    <div class="image-recipe" style="background-image: url('{{recipeImage recipe=this size='full'}}')"></div>

    <div class="attribution-recipe js-uncollapse">
      <h1 class="title-recipe">{{dish_name}}</h1>
      <div class="metadata-wrapper">
        <p class="description-recipe">{{description}}</p>
      </div>

      <div class="btns-group">
        <a class="btn-primary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-recipe">Order It!</a>
        <!-- <a class="btn-secondary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-recipe">Order It</a>
        <a class="btn-secondary {{#if isActiveTab 'feed'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-feed">Ordered by</a> -->
      </div>
    </div>


    <div class="content-scrollable static-nav make-scrollable">

      <h2 class="list-title">Unit Price: {{price}}</h2>
      <form>
        Qty:<br>
        <input type="number" min = "0" name="qty" value = '1'>
        <input type="submit" class="btn-primary js-open" value="Add to Cart">
      </form>
    </div>
  </div>
</template>
