<template name="feed">
  <div class="page bookmarks">
    {{> nav title='Bill Split'}}

    <div class="content-scrollable">
      <div class="list-recipes">
      {{#each this}}
        {{> dishCount_split recipe=this size='small'}}
        {{#if checkSplit this}}
          {{#each getOtherUser}}
            {{> sharer}}
          {{/each}}
        {{/if}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">No cart yet</div>
          <div class="subtitle-message">Add your favorite dishes to the cart. <a href="{{pathFor 'home'}}">Return home</a></div>
        </div>
      {{/each}}
      </div>
      {{#if checkCount this}}
        <div class="btns-group cart-confirm">
          <a class="btn-primary confirm">Done</a>
        </div>
      {{/if}}
    </div>

  </div>
</template>

<template name='dishCount_split'>
  <div class="clearfix float-my-children">
    <img style="display:block;width:160px;height:130px" src="{{recipeImage recipe=recipe size=size}}"/>
    {{#with recipe}}
    <div class='cartDetail'>
      <div style="font-size:17px;font-weight:600">{{dish_name}}</div>
      <div style="color:#D83E14;font-size:17px">${{price}}</div>
      <br>

      <div id="addsub" style="text-align:right">
        Share with:
<!--         <button class="minus qtyChange">-</button>
 -->        <span>{{num_share}} others</span>
<!--         <button class="plus qtyChange">+</button>
 -->      </div>
      <button class='delete' style="float:right">{{#if checkSplit this}}Done{{else}}Split{{/if}}</button>
    </div>
    {{/with}}
  </div>
  <br>
</template>

<template name='sharer'>
  <div class="clearfix float-my-children">
<!--     <div class='cartDetail'>
 -->      <div style="font-size:17px;font-weight:600">{{name}}</div>
      <div style="color:#D83E14;font-size:17px">status add here</div>
      <br>
<!--     </div>
 -->  </div>
</template>

