<template name="feed">
  <div class="page bookmarks">
    {{> nav title='Split'}}
    <div class="content-scrollable">
      <div class="list-recipes">
      {{#each this}}
        {{> splitBill recipe=this size='small'}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">No order yet</div>
          <div class="subtitle-message">Choose your favorite dishes. <a href="{{pathFor 'home'}}">Return home</a></div>
        </div>
      {{/each}}
      </div>
      {{#if checkCount this}}
        <div class="btns-group cart-confirm">
          <a class="btn-primary confirm" href="{{pathFor 'bill'}}">Confirm</a>
        </div>
      {{/if}}
    </div>
    <div class="content-scrollable static-nav make-scrollable {{showUser}}">
      {{> users}}
    </div>
  </div>
</template>

<template name='splitBill'>
  <div class="clearfix float-my-children order-detail">
    {{#with recipe}}
      <img class="order-image" src="/img/recipes/320x350/{{recipeName}}.jpg"/>
    <div class='cartDetail'>
      <div class="order-name">{{dishName}}</div>
      <div class="order-price">${{price}}</div>
      <br>
      <div class="message" id="addsub" style="text-align:left">
        {{viewUsers shared_customer}}
      </div>
    <button class="delete js-share" style="float:right">Share</button>   
    </div>
    {{/with}}
  </div>
  <br>
</template>
<template name='users'>
 <div class="page recipe {{activeTabClass}}">
  <div class="users-list">
    {{#if getOtherUsers}}
      {{#each getOtherUsers}}
        <div class="name {{selected}}">{{this}}</div>
      {{/each}}
    {{else}}
    <div class="subtitle-message">No other users</div>
    {{/if}}
  </div>
  <div class="btns-group cart-confirm">
    <a class="btn-primary js-cancel">Cancel</a>
    <a class="btn-primary js-save">Save</a> 
  </div>
  </div>
</template>